<!DOCTYPE html>

<html lang="en">

<head>

    <title>Project 1</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Maven StyleSheet
    <link rel="stylesheet" type="text/css" href="/fflogs-thing/static/css/styles.css">
    -->
    <!--Local Testing-->
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <link rel="icon" href="https://discordemoji.com/assets/emoji/ConcernedFroge.png">
    <link rel="shortcut icon" href="#" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body id="landing-body">

    <div class="container-fluid">

        <div class="row">

            <div class="col-4 p-0 landing-sidebar">

                <nav class="navbar navbar-light" aria-labelledby="sidebar-report-nav-aria" id="sidebar-report-nav" hidden>

                    <div class="navbar-header">

                        <a id="sidebar-report-nav-header" class="navbar-brand landing-navbar-head"></a>

                    </div>

                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav" id="sidebar-report-nav-entries">

                        </ul>
                    </div>
                </nav>

            </div>

            <div class="col-8 p-0 landing-main">

                <div class="jumbotron min-vh-100 m-0 bg-light d-flex flex-column justify-content-center">

                    <div id="fflogs-url-div">

                        <div class="form-group col-9 offset-1 mb-3">

                            <div class="input-group">

                                <input type="url" class="form-control" placeholder="https://www.fflogs.com/reports/..." aria-label="FFlogs URL" aria-describedby="fflogs-url-aria" id="fflogs-url-input">

                                <div class="input-group-append">
                                
                                    <button class="btn btn-danger" type="button" id="fflogs-url-button">Bully Me</button>
                                
                                </div>

                            </div>

                            <small id="fflogs-url-error-message" class="form-text text-danger" hidden>Invalid report URL</small>

                        </div>

                    </div>

                    <div id="fflogs-report-fights-div" hidden>
                    </div>

                    <div id="fflogs-analysis-div" hidden>
                    </div>

                </div>
            </div>
        </div>    
    </div>

    <!--Maven Script Location
    <script type="text/javascript" href="/fflogs-thing/static/scripts/landing.js"></script>
    -->

    <script type="text/javascript" src="../scripts/landing.js"></script>

</body>